.about-section
{
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.about-header
{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 135px;
  padding-bottom: 135px;
  align-items: center;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/about1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.about-header h1
{
  color: rgb(252, 142, 16);
  text-align: center;
  font-family: "Avenir Book";
  font-size: 30px;
}

.description
{
  color: white;
  width: 70%;
  font-family: "Avenir Book";
}

.description p
{
  margin-top: 60px;
  font-size: 19px;
  text-align: justify;
  line-height: 1.4em;
}

.description a
{
  color: white;
  font-weight: medium;
  font-style: italic;
  font-family: "Avenir Book";
  transition: 0.5s all ease;
}

.description a:hover
{
  color: rgb(85, 85, 85);
}

.cat-highlight
{
  color:rgb(252, 142, 16);
}

@media only screen and (max-width: 700px)
{
  .about-header
  {
    padding-top: 3vh;
    padding-bottom: 3vh;
  }

  .description
  {
    width: 80%;
  }

  .description p
  {
    font-size: 4vw;
  }
}

@media only screen and (min-width: 1400px)
{
  .about-header
  {
    background-size: contain;
    background-repeat: repeat-x;
  }
}