.about-section
{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.about-header
{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 135px;
  padding-bottom: 135px;
  align-items: center;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/about1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.about-header h1
{
  color: white;
  text-align: center;
  font-family: "One Signature";
  font-size: 100px;
}

.description
{
  color: black;
  width: 70%;
  font-family: "TypeWriter";
}

.description p
{
  margin-top: 60px;
  font-size: 19px;
  text-align: justify;
  line-height: 1.4em;
}

.description a
{
  color:cornflowerblue (100, 149, 237);
  font-weight: medium;
  font-style: italic;
  font-family: "One Signature";
  transition: 0.5s all ease;
}

.description a:hover
{
  color: rgb(100, 149, 237);
}

.cat-highlight
{
  color: cornflowerblue (100, 149, 237);
}

@media only screen and (max-width: 700px)
{
  .about-header
  {
    padding-top: 3vh;
    padding-bottom: 3vh;
  }

  .description
  {
    width: 80%;
  }

  .description p
  {
    font-size: 4vw;
  }
}

@media only screen and (min-width: 370px)
{
  .about-header
  {
    background-size: contain;
    background-repeat: no repeat; 
    background-image: url('../images/about1.jpg');

  }
}