.footer-section
{
  margin-top: 275px;
  background: rgb(39, 39, 39);
  display: flex;
  flex-direction: column;
}

.email
{
  margin-top: 20px;
  text-align: center;
}

.email a
{
  color: white;
  font-family: "Avenir Medium";
  font-size: 14px;
  transition: 0.5s all ease;
}

.email a:hover
{
  color: rgb(85, 85, 85);
}

.footer p
{
  margin-top: 15px;
  color: white;
  text-align: center;
  font-family: "Avenir Book";
  font-size: 12px;
  font-style: italic;
}