.photos-header h1
{
    color: white;
    padding-top: 10px;
    text-align: center;
    font-family: "One Signature";
    font-size: 90px;
}

.photos-header
{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 140px;
  padding-bottom: 140px;
  align-items: center;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/photos1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.photos img
{
  max-width: 90%;
  height: auto;
}

.photos 
{
  display: flex;
  flex-wrap: wrap;
  margin: 100px 150px;
}

.column
{
  flex: 25%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.box
{
  position: relative;
  padding-top: 0px;
  margin-top: 10px;
}

.box:hover img
{
  opacity: 0.3;
  transition: 0.5s all ease;
}

.box:hover .detail
{
  opacity: 0;
}

.column img {
  vertical-align: middle;

}

.photos-link
{
  margin-top: 78px;
  font-family: "Avenir Roman";
  font-size: 14px;
  color: white;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .photos 
  {
    margin: 10px 10px;
  }
}

@media screen and (max-width: 480px) {
  .column 
  {
    flex: 100%;
    max-width: 100%;
  }
}

@media only screen and (min-height: 480x)
{
  .photos 
  {
    margin: 10px 10px;
  }
}

