.projects-header h1
{
    color: white;
    text-align: center;
    font-family: "Avenir Book";
    font-size: 30px;
}

.projects-section
{
    margin-bottom: 24px;
}

.projects-section ul
{
    padding: 0;
}

.project
{
    margin-top: 4px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: rgb(39, 39, 39);
    padding-top: 30px;
    padding-bottom: 30px;
}

.project-photo img
{
    max-height: 165px;
    max-width:  165px;
}

.project-photo2 img
{
    height: 165px;
    width:  165px;
}

.projects-list h2
{
    font-family: "Avenir Medium";
    font-size: 28px;
    color: rgb(252, 142, 16);
    text-align: center;
    margin: 8px;
}

.projects-list h3
{
    color: rgb(255, 255, 255);
    font-size: 17px;
    text-align: center;
    font-style: oblique;
    font-family: "Avenir Medium";
}

.skills
{
    margin-top: 0px;
    display: flex;
    font-family: "Avenir Book";
    flex-direction: row;
    justify-content: center;
}

.skills li
{
    color: rgb(170, 170, 170);
    font-size: 14px;
    text-decoration: none;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 9px;
    padding: 5px 16px;
    padding-bottom: 3px;
    margin: 5px;
    display: flex;
}

.project-description
{
    margin-top: 23px;
    color: white;
    width: 40%;
    font-family: "Avenir Book";
    align-items: center;
    justify-content: center;
}

.project-description p
{
    font-size: 18px;
    text-align: justify;
    line-height: 1.3em;
    margin-bottom: 6px;
}

.github-link
{
    margin-top: 14px;
}

.github-link a
{
    color: white;
    transition: 0.5s all ease;
}

.github-link a:hover
{
    color: rgb(85, 85, 85);
}

.demo-link
{
    margin-top: 15px;
}

.demo-link a
{
    color: white;
    transition: 0.5s all ease;
}

.demo-link a:hover
{
    color: rgb(85, 85, 85);
}

@media only screen and (max-width: 700px)
{
    .project-description
    {
        width: 80%;
    }

    .project-description p
    {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 400px)
{
    .skills
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills li
    {
        color: rgb(170, 170, 170);
        font-size: 4vw;
        text-decoration: none;
        border: 1px solid rgb(170, 170, 170);
        border-radius: 9px;
        padding: 3px 3px;
        margin: 3px;
        padding-bottom: 0;
    }
}